@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  box-sizing: border-box;
}
.h1 {
  padding-left: 5px;
  padding-bottom: 0;
  font-size: 10px;
  font-weight: 100;
  align-items: center;
  color:#FD8D14;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url(images/satur.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
  position: relative;
}

.simply-countdown{
 padding-left: 30px;
}
.logo {
  width: 180px;
  cursor: pointer;
  padding-bottom: 30px;
}

.content {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
}
.content h3 {
  padding-left: 0px;
  font-size: 20px;
  font-weight: 100;
  align-items: center;
}

.back {
  background-color: rgba(83, 0, 207, 0.3);
  border-radius: 50px;
  width: 200px;
}
.content h1 {
  font-size: 7rem;
  font-weight: 500;
}

.content h1 span {
  font-size: 5rem;
  color: #5d12d2;
}


.content button {
  background: transparent;
  border: 5px solid rgba(83, 0, 207, 0.3);
  outline: none;
  padding: 12px 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  
}

.button {
  color: #000000;
}

.learn{
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
}

.content button img {
  width: 15px;
  margin-left: 10px;
  color: #000000;
}

.launch-time {
  display: flex;
}

.launch-time div {
  flex-basis: 100px;
}

.launch-time div p {
  font-size: 60px;
  margin-bottom: -14px;
}

.rocket {
  width: 250px;
  position: absolute;
  right: 20%;
  bottom: 0;
  animation: rocket 4s linear infinite;
}

.osis {
  width: 150px;
  position: absolute;
  right: 50%;
  bottom: 0;
  animation: rocket 2s linear infinite;
}

.mpk {
  width: 150px;
  position: absolute;
  right: 37%;
  bottom: 0;
  animation: rocket 3s linear infinite;
}

@keyframes rocket {
  0% {
    bottom: 0;
    opacity: 0;
  }

  100% {
    bottom: 105%;
    opacity: 0.5;
  }
}

/* Media Query */

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }
  
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .simply-countdown > .simply-section {
    padding: 10px 10px;
    margin: 0;
  }
  .container {
    background-image: url(images/background.png);
  }
  .content h1 span {
    color: #ff3753;
  }
  .simply-section {
    padding: 20px;
  }
  .logo{
    width:140px;
  }
  .osis {
    right:60%;
  }
  .rocket{
    right:0%;
  }
  .simply-countdown > .simply-section .simply-amount {
    font-size: 5rem;
  }
}
