* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Main Color */
:root {
  --lightpurple: #535353;
  --poppins: "Poppins", sans-serif;
  --black: #000000;
  --abril: "Abril Fatface", cursive;
  --lato: "Lato", sans-serif;
  --purple: #5f5f5f;
  --darkgray: #6e6c78;
  --white: #ffffff;
  --lightgray: #898796;
}

::selection {
  color: var(--lightpurple);
  background: CornflowerBlue;
  background-color: var(--black);
}
.nav-scrolled {
  background: white !important;
}
/*Navbar*/
.navbar {
  font-family: var(--poppins);
  background-color: white;
}
.navbar.toggler {
  border: none !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar .container-fluid .navbar-item {
  font-size: 28.5px;
  letter-spacing: 2px;
  font-weight: 550;
  color: black;
  text-decoration: none;
  position: relative;
}
.navbar .container-fluid .span {
  color: var(--purple);
}
.navbar .navbar-nav .nav-item a {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}

.nav-item .dropdown {
  position: center;
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 210px;
  text-decoration: none;
  list-style-type: none;
  background-color: #7099c2;
  float: left;
}

.nav-item .dropdown ul li {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  float: left;
}

.d-flex .btn {
  font-size: 15px;
  background-color: black;
  border-radius: 50px;
  color: var(--white);
  text-transform: uppercase;
  padding: 13px 19px;
}
.d-flex .btn:hover {
  background-color: var(--purple);
  color: var(--white);
  transition: 0.5;
}
.kici {
  width: 10px;
  height: 10px;
  position: fixed;
}
#home {
  padding: 5rem 0;
  background-image: url(picture/000.png);
  background-size: cover;
  margin-bottom: 0%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/*jumbotron*/
.jumbotron .text {
  padding-bottom: 6rem;
}
.jumbotron {
  background-size: cover;
  height: 100vh;
  margin-top: -74px;
  background-position: center;
}
.jumbotron .text h2 {
  text-transform: uppercase;
  font-family: var(--lato);
  font-size: 24px;
  font-weight: 300;
  padding-top: 9.5rem;
}
.jumbotron .text h1 {
  text-transform: capitalize;
  font-family: var(--abril);
  font-size: 75px;
  color: black;
  overflow: hidden;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.jumbotron .text h1 .cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.jumbotron .text h1 .cursor .typing {
  animation: none;
}
.jumbotron .text span {
  color: var(--purple);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.jumbotron .text h3 {
  text-transform: capitalize;
  font-family: var(--poppins);
  font-size: 24px;
  font-weight: 400;
  display: flex;
  padding-bottom: 25px;
}

.jumbotron .sosial-media a {
  text-decoration: none;
  color: var(--lightgray);
  padding-right: 25px;
  width: 50px;
  height: 50px;
}

.jumbotron .sosial-media h6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/*About*/
.wave-header0{
  min-width: 100vh;
  width: 100%;
  background:#ffffff;
  position: relative;
  
}

svg{
  position: absolute;
  bottom: 0;
  left: 0;
}
#t {
  padding-bottom: 4rem;
}
.text-about {
  padding-top: 5rem;
}
.text-about h1 {
  font-family: var(--abril);
  font-size: 50px;
  text-align: left;
  padding-bottom: 20px;
}
.text-about h1:after {
  content: "";
  display: block;
  border-bottom: 7px solid var(--purple);
  width: 20%;
  padding-bottom: 2px;
  margin-bottom: -9px;
}
.text-about span {
  color: var(--purple);
}
.text-about p {
  font-family: var(--poppins);
  font-size: 23px;
  text-transform: none;
}
.about-img {
  padding-top: 9rem;
}
/*project*/
.wave-header{
  min-width: 100vh;
  width: 100%;
  background: #ffffff;
  position: relative;
  justify-content: center;
  align-items: center;
}
#carouselExampleFade .carousel-control-prev {
  background-color: var(--lightpurple);
  border-radius: 50%;
  height: 59px;
  width: 60.5px;
  top: 45%;
  left: 5%;
}
#carouselExampleFade .carousel-control-next {
  background-color: var(--lightpurple);
  border-radius: 50%;
  height: 59px;
  width: 60.5px;
  top: 45%;
  right: 5%;
}
.title-project h1 {
  padding-top: 150px;
  font-family: var(--abril);
  font-size: 50px;
  padding-bottom: 5rem;
}
.title-project h1:after {
  content: "";
  display: block;
  border-bottom: 7px solid var(--purple);
  width: 10%;
  padding-bottom: 9px;
}
.title-project span {
  color: var(--purple);
}

/* cards border */

#project{
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.wave-header2{
  min-width: 100vh;
  width: 100%;
  background:#ffffff;
  position: relative;
  
}

svg{
  position: absolute;
  bottom: 0;
  left: 0;
}

.gallery {
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 1rem;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.cardd {
  border: 7px solid rgb(0, 0, 0) ;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  border-top-left-radius: 50%;
  border-bottom-right-radius: 40%;
  justify-content: center;
  position: relative;
}

.gallery img {
  max-width:100%;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
}

.img-title {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, .7);
}

.img-title p,h3{
  text-align: center;
  line-height: 2px;
  position:relative;
  top: 130px;
  text-shadow: rgba(5, 5, 5, .5);

}
/*skills&toools*/
#skills {
  padding: 4rem 0;
}
.cards {
  width: 500px;
  height: 300px;
}
.title-skills h1 {
  font-family: var(--abril);
  font-size: 50px;
  padding-bottom: 4rem;
}
.title-skills h1:after {
  content: "";
  display: block;
  border-bottom: 7px solid var(--purple);
  width: 8%;
  padding-bottom: 9px;
  margin-bottom: -9px;
}
.title-skills span {
  color: var(--purple);
}
#skills .container-fluid .gambar-skills .col-lg-3 {
  padding-bottom: 3.5rem;
}
#skills .container-fluid .gambar-skills .col-lg-3 img:hover {
  filter: invert(15%);
}
/*Tugas Tugas*/

.wave-header3{
  min-width: 100vh;
  width: 100%;
  background:#ffffff;
  position: relative;
  
}

svg{
  position: absolute;
  bottom: 0;
  left: 0;
}
.promise-title{
  margin-top: 100;
}
.promise-title h1 {
  margin-top: 200px;
  text-transform: capitalize;
  font-family: var(--abril);
  font-size: 50px;
  text-align: left;
  padding-bottom: 2rem;
}
.promise-title span {
  color: var(--purple);
}
.datar-promise .isi-card {
  padding-bottom: 2rem;
  background-image: url(picture/imn.png);
}
#promise .card {
  border: 3px solid var(--lightpurple);
  padding: 1rem 0.6rem 2rem 0.6rem;
  font-family: var(--poppins);
  width: 35rem;
}
#promise .card-title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
#promise .card-text {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
/* card tugas */
.card-body img {
  background-image: none;
}
.card {
  background-image: url(KOOR/KOOR3.PNG);
  margin-left: 20px;
  margin-bottom: 20px;
  width: 350px;
  height: 600px;
  background: #a9a9a9;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
}

.card:hover {
  background-image: url(KOOR/KOOR3.PNG);
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  background: #7099c2;
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
  font-size: larger;
}
.first-content.h1 {
  width: 100px;
  height: 100px;
  font-size: medium;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

/*Testimonial*/

#testimonial {
  padding: 4rem 0;
}
#testimonial .col-lg-5 {
  background-color: var(--lightpurple);
}
#testimonial .one {
  padding-top: 1.7rem;
  padding-left: 15px;
}
#testimonial .one i {
  color: #ffffff;
  padding-bottom: 15px;
}
#testimonial .one h4 {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 15px;
}
#testimonial .one h2 {
  font-size: 35px;
  font-family: var(--poppins);
  font-weight: 600;
  color: #ffffff;
}
#testimonial .one h3 {
  font-size: 25px;
  font-family: var(--poppins);
  font-weight: 200;
  color: #ffffff;
}
.img-bun {
  padding: 4rem 2;
  float: right;
  padding-left: 90px;
}

/*Contact*/
#contact {
  padding: 6rem 0;
  background-image: url(img/contact.png);
  background-size: cover;
}
.img-contact {
  margin-top: -1.5rem;
}
.contact-title h1 {
  text-transform: capitalize;
  font-family: var(--abril);
  font-size: 50px;
  text-align: center;
  padding-bottom: 2rem;
}

.contact-title span {
  color: var(--purple);
}
#contact form .form-label {
  font-family: var(--poppins);
  font-size: 22px;
}
#contact form input {
  border-radius: 0%;
  color: var(--purple);
}
#contact textarea {
  border-radius: 0%;
  color: var(--purple);
}
/* Footer */
footer {
  background-color: var(--purple);
  font-size: 21px;
}
.footer a {
  text-decoration: none;
  font-family: var(--poppins);
}
/*deskop version biasa*/
@media (min-width: 992px) {
  /*navbar*/
  .navbar {
    padding: 0.5rem 3rem;
    background: transparent;
  }
  .navbar .navbar-nav .nav-item {
    padding: 3px 10px;
  }

  @supports (background-clip: text) and (-webkit-text-fill-color: transparent) {
    .navbar .navbar-nav .nav-item a {
      background-image: linear-gradient(
        to right,
        var(--purple),
        var(--lightpurple)
      );
      background-size: 200%;
      transition: 0.5s ease-out;

      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .navbar .navbar-nav .nav-item a:hover {
    background-position: -100%;
  }

  #dropdown {
    display: none;
  }
  /* jumbotron */
  .jumbotron .text {
    padding-left: 4rem;
    top: 36%;
    position: absolute;
  }
  .jumbotron .text h2 {
    text-transform: uppercase;
    font-family: var(--lato);
    font-size: 30px;
    font-weight: 300;
    padding-top: 0;
  }
  .jumbotron .text h1 {
    text-transform: capitalize;
    font-family: var(--abril);
    font-size: 85px;
    color: black;
  }
  .jumbotron .text span {
    color: var(--purple);
  }
  .jumbotron .text h3 {
    text-transform: capitalize;
    font-family: var(--poppins);
    font-size: 26px;
    font-weight: 400;
    display: flex;
    padding-bottom: 25px;
  }

  .jumbotron .sosial-media a {
    text-decoration: none;
    color: var(--lightgray);
    padding-right: 25px;
    width: 70px;
    height: 70px;
  }
  .jumbotron .sosial-media a:hover {
    color: var(--purple);
  }
  /*About*/
  .text-about {
    padding: 10rem 0 0 4rem;
  }
  .text-about h1 {
    font-size: 65px;
  }
  .text-about span {
    color: var(--purple);
  }
  .text-about p {
    font-size: 25px;
  }
  #about {
    background-image: url(picture/.png);
    background-size: cover;
    margin-top: 0%;
  }
  .about-img {
    padding-top: 5rem;
  }
  /*project*/
  #carouselExampleFade .carousel-inner .carousel-item img {
    height: 80vh;
  }
  .title-project h1 {
    font-size: 65px;
    padding-left: 4rem;
  }
  /*skills&tools*/
  #skills {
    background-image: url(KOOR/KOOR2.pn);
    background-size: cover;
  }

  .title-skills h1 {
    padding-left: 4rem;
    font-size: 65px;
  }
  .gambar-skills {
    padding-left: 4rem;
  }
  /*promise*/
  #promise {
    background-image: url(picture/2.png);
    background-size: cover;
  }
  .promise-title h1 {
    font-size: 65px;
    text-align: center;
  }
  #promise .datar-promise {
    margin: 0 4.5rem;
  }
  /*testimonial*/
  #testimonial .one {
    padding-top: 6rem;
    padding-left: 3rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #testimonial .two {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .contact-title h1 {
    font-size: 65px;
  }

  /* laptop */

  @media (max-width: 992px) {
    html {
      font-size: 75%;
    }
  }

  /* mobile */
  @media (min-width: 576px) {
  }
}
