*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Color */
:root {
  --lightpurple: #535353;
  --poppins: "Poppins", sans-serif;
  --black: #000000;
  --abril: "Abril Fatface", cursive;
  --lato: "Lato", sans-serif;
  --purple: #c0c0c0;
  --darkgray: #6e6c78;
  --white: #ffffff;
  --lightgray: #898796;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--poppins);
}

::selection {
  color: var(--lightpurple);
  background: CornflowerBlue;
  background-color: var(--black);
}

/*Navbar*/
nav {
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 10;
}

#navbar-open {
  display: none;
  border: none;
  padding: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  letter-spacing: 2px;
  font-weight: 550;
  color: black;
  text-decoration: none;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 1.5rem 1rem;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}

.nav-item:hover {
  background-color: var(--purple);
}

.kici {
  width: 10px;
  height: 10px;
  position: fixed;
}

.main-section {
  padding: 4rem;
  min-height: 50vh;
}

.main-section__text p {
  max-width: 75ch;
}

.main-section__text h2 {
  text-transform: capitalize;
  font-family: var(--abril);
  font-size: 50px;
  text-align: center;
  padding-bottom: 2rem;
  text-align: center;
}

.main-section__text h2:after {
  content: "";
  display: block;
  border-bottom: 7px solid var(--purple);
  width: 10%;
  margin-inline: auto;
}

.main-section__text span {
  color: var(--purple);
}

.main-section__content {
  max-width: 150ch;
  margin-inline: auto;
}

#home {
  background-image: url(picture/000.png);
  background-size: cover;
  background-repeat: no-repeat;

  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

#home h2 {
  text-transform: uppercase;
  font-family: var(--lato);
  font-size: 24px;
  font-weight: 300;
}

#home h1 {
  text-transform: capitalize;
  font-family: var(--lato);
  font-weight: bold;
  font-size: 75px;
  color: black;
  overflow: hidden;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

#home h1 .cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

#home h1 .typing {
  animation: none;
}

#home .text span {
  color: var(--purple);
}

#home .text h3 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  padding-bottom: 25px;
}

.sosial-media {
  display: flex;
  gap: 1rem;
}

.sosial-media a {
  text-decoration: none;
  color: var(--lightgray);
}

.sosial-media a:hover {
  color: var(--purple);
}

/*About*/
#about {
  text-align: center;
}

#about p {
  margin-inline: auto;
}

/*project*/
.slide-container {
  overflow: hidden;
  height: 40ch;
  display: flex;
}

.slide {
  transition: transform 200ms ease;
  min-width: 100%;
}

.slide-picture {
  height: 100%;
}

.slide-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dots-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.dot {
  --_dot-size: 1rem;
  background: #444;
  color: #eee;
  border-radius: 50%;
  width: var(--_dot-size);
  height: var(--_dot-size);
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.dot.active {
  background: dodgerblue;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button-container button {
  all: unset;
  user-select: none;
  outline: 1px solid #ddd;
  padding: 1rem;
}

.button-container button:hover {
  background: #ddd;
  cursor: pointer;
}

.button-container button:active {
  transform: translateY(5px);
}

/* cards border */
#project {
  background-repeat: no-repeat;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45ch, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.cardd {
  border: 7px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  border-radius: 5% 0 5% 0;
  overflow: hidden;
  position: relative;
}

.gallery img {
  max-width: 100%;
}

.img-title {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.7);
}

/*Tugas Tugas*/
.promise-title h1 {
  margin-top: 200px;
  text-transform: capitalize;
  font-family: var(--abril);
  font-size: 50px;
  text-align: left;
  padding-bottom: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(45ch, 100%), 1fr));
  gap: 1rem;
}

/* card tugas */
.card {
  background: #a9a9a9;
  border: 3px solid var(--lightpurple);
  padding: 1.5rem 1.5rem;
  border-radius: 10px;
  transition:
    transform 0.4s,
    color 0.4s,
    background-color 0.4s;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: #7099c2;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.card-text {
  font-size: 18px;
  color: #ffffff;
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
  font-size: larger;
}

.first-content.h1 {
  width: 100px;
  height: 100px;
  font-size: medium;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

/*Testimonial*/

#testimonial {
  padding: 4rem 0;
}

.quote {
  background-color: var(--lightpurple);
  border-radius: 0.5rem;
  padding: 2rem;
  color: #ddd;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.quote h4 {
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 15px;
}

.quote h2 {
  font-size: 35px;
  font-weight: 600;
  color: #ffffff;
}

.quote h3 {
  font-size: 25px;
  font-weight: 200;
  color: #ffffff;
}

/*Contact*/
#contact {
  background-image: url(img/contact.png);
  background-size: cover;
}

.form-container {
  display: flex;
  justify-content: center;
}

#contact form .form-label {
  font-family: var(--poppins);
  font-size: 22px;
}

#contact form input {
  border-radius: 0%;
  color: var(--purple);
}

#contact textarea {
  border-radius: 0%;
  color: var(--purple);
}

/* Footer */
footer {
  background-color: var(--purple);
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer a {
  text-decoration: none;
  color: inherit;
}

@supports (background-clip: text) and (-webkit-text-fill-color: transparent) {
  .navbar .navbar-nav .nav-item a {
    background-image: linear-gradient(
      to right,
      var(--purple),
      var(--lightpurple)
    );
    background-size: 200%;
    transition: 0.5s ease-out;

    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#dropdown {
  display: none;
}

#home .text h2 {
  text-transform: uppercase;
  font-family: var(--lato);
  font-size: 30px;
  font-weight: 300;
  padding-top: 0;
}

#home .text h1 {
  text-transform: capitalize;
  font-family: var(--abril);
  font-size: 85px;
  color: black;
}

#home .text span {
  color: var(--purple);
}

#home .text h3 {
  text-transform: capitalize;
  font-family: var(--poppins);
  font-size: 26px;
  font-weight: 400;
  display: flex;
  padding-bottom: 25px;
}

#home .sosial-media a {
  text-decoration: none;
  color: var(--lightgray);
}

/*About*/
.text-about {
  padding: 10rem 0 0 4rem;
}

.text-about h1 {
  font-size: 65px;
}

.text-about span {
  color: var(--purple);
}

.text-about p {
  font-size: 25px;
}

#about {
  background-image: url(picture/.png);
  background-size: cover;
  margin-top: 0%;
}

.about-img {
  padding-top: 5rem;
}

.title-project h1 {
  font-size: 65px;
  padding-left: 4rem;
}

/*skills&tools*/
#skills {
  background-image: url(KOOR/KOOR2.pn);
  background-size: cover;
}

.title-skills h1 {
  padding-left: 4rem;
  font-size: 65px;
}
.gambar-skills {
  padding-left: 4rem;
}
/*promise*/
#promise {
  background-image: url(picture/2.png);
  background-size: cover;
}
.promise-title h1 {
  font-size: 65px;
  text-align: center;
}

/*testimonial*/
#testimonial .one {
  padding-top: 6rem;
  padding-left: 3rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#testimonial .two {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contact-title h1 {
  font-size: 65px;
}

@media screen and (max-width: 50em) {
  #navbar-open {
    display: block;
    cursor: pointer;
  }

  #nav-link-container {
    background: #ddd;
    width: 100%;
    position: absolute;
    top: 100%;

    transition: translate 200ms ease;
    translate: -100%;
  }

  #nav-link-container.active {
    translate: 0;
  }

  nav ul {
    flex-direction: column;
  }

  .main-section,
  #home {
    padding: 2rem;
  }

  .form-container {
    flex-direction: column;
  }
}
